.container {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: repeat(5, 20%);
  height: 100%;
  background-color: black ;
  background: url('../storage/img/login_bg.jpg');
  background-size: cover;
  background-repeat: none;
}
.container .logocontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-row-start: 2;
  grid-row-end: 5;
}
.container .logocontainer h1 {
  font-size: 3em;
  color: white;
  text-shadow: 2px 2px #0D0D0D;
}
.container .logocontainer h3 {
  font-size: xx-large;
  color: white;
  text-shadow: 2px 2px #0D0D0D;
}
.container .logocontainer p {
  font-size: x-large;
  color: white;
  text-shadow: 2px 2px #0D0D0D;
}
